# DATABASE_URL=postgresql://myuser:mysecurepassword@localhost:5432/mydb
DATABASE_URL="postgresql://postgres.[ref]:[PASSWORD]@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"
MONGODB_URI="mongodb://root:webdev-t-list@localhost:27017/todo-list?authSource=admin"
PORT=3001
FRONTEND_URL="http://localhost:5174"
