# DATABASE_URL=postgresql://myuser:mysecurepassword@localhost:5432/mydb
DATABASE_URL="postgresql://postgres.[ref]:[PASSWORD]@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"
PORT=3001
FRONTEND_URL="http://localhost:5174"
